// Add your own custom styles here

.accordion{
    text-align:left;
}

.badge-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .badge-container > a{
    margin: 5px;
  }


  // banner responsive 



  @media only screen and (min-width: 750px) {
    .banner-phone {
      display: none;
    }
    
  }

  @media only screen and (max-width: 750px) {
    .banner-pc {
      display: none;
    }
    
  }

  